<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">🎬 Liste des Films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="films.length > 0; else noFilms">
    <ion-list lines="full" class="list">
      <ion-item *ngFor="let film of films" class="film-item">
        <div class="film-item-content">
          <ion-thumbnail slot="start" class="film-thumbnail">
            <img [src]="film.photoUrl" alt="Film Image" />
          </ion-thumbnail>
    
          <ion-label class="film-label">
            <h2>{{ film.title }}</h2>
            <p>{{ film.description }}</p>
            <p><strong>Réalisateur:</strong> {{ film.director }}</p>
            <p><strong>Date de sortie:</strong> {{ film.releaseDate | date }}</p>
          </ion-label>
        </div>
    
        <ion-button color="danger" fill="outline" slot="end">
          <ion-icon name="trash-bin-outline" slot="start"></ion-icon>
          Supprimer
        </ion-button>
      </ion-item>
    </ion-list>
    
  </div>

  <!-- Message affiché s'il n'y a pas de films -->
  <ng-template #noFilms>
    <div class="empty-state">
      <ion-icon name="film-outline" size="large" color="medium"></ion-icon>
      <ion-text color="medium">
        <p>Aucun film disponible pour le moment.</p>
      </ion-text>
    </div>
  </ng-template>
</ion-content>
