<ion-content class="ion-padding">
  <div class="auth-container signup-page">
    <h1 class="title">Sign Up</h1>
    <img class="flix-image" src="../../assets/images/flix-1.png" alt="Flix Logo" />
    <p class="subtitle">Create an account to get started</p>

    <form (submit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>

      <!-- Bouton pour prendre une photo -->
      <ion-button class="camera-button" expand="block" (click)="takePicture()">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>

      <!-- Aperçu de la photo -->
      <img *ngIf="profilePic" [src]="profilePic" alt="Profile Picture" style="width: 100%; border-radius: 10px;" />

      <!-- Bouton d'inscription -->
      <ion-button class="auth-button" type="submit" expand="block">
        Sign Up
      </ion-button>
    </form>

    <p class="link">
      Already have an account? <a routerLink="/login">Log In</a>
    </p>
  </div>
</ion-content>
